[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[alias]
  a = add -p
  b = branch -a
  bd = "!for branch in `git branch -vv | grep ': gone]' | awk '{print $1}'`; do git branch -D $branch; done"
  bg = "!echo 'Branches gone from remote'; echo 'git bd to delete them'; for branch in `git branch -vv | grep ': gone]' | awk '{print $1}'`; do echo $branch; done"
  bf = fetch -p
  cb = checkout -b
  co = checkout
  ri = rebase -i origin/master
  l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  ll = log --stat --abbrev-commit
  m = checkout master
  mm = !git fetch origin master && git checkout master
  pr = pull-request
  s = status
  unstage = reset HEAD --
  who = blame
[color]
  ui = auto # covers diff = true, status = auto, branch = auto
  interactive = auto
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
[user]
  name = Philip Boardman
  email = dustykeyboard@brd.mn
[rerere]
  enabled = true
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[core]
  excludesfile = ~/.gitignore
